{% extends '::base.html.twig' %}

{% block navbar %}
    {#{{ mopa_bootstrap_navbar('backendNavbar') }}#}
{% endblock navbar %}

{% block content %}
    <div class="span12">{% block blog_content %}{% endblock %}</div>
    <i class="icon-plus"></i>
{% endblock %}