{% extends '::base.html.twig' %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="span12">{% block blog_content %}{% endblock %}</div>
    <i class="icon-plus"></i>
{% endblock %}